BasedOnStyle:  LLVM
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
ColumnLimit:     120
IndentWidth:     4
# Before hash option was added in version 9
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
ObjCBlockIndentWidth: 4
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
Standard:        Cpp11
TabWidth:        4
UseTab:          Never
