AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: 'Yes'
BasedOnStyle: LLVM
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
ColumnLimit: 120
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
Language: Cpp
NamespaceIndentation: All
ObjCBlockIndentWidth: 4
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
Standard: c++17
TabWidth: 4
UseTab: Never
