[submodule "externals/cpr"]
	path = externals/cpr
	url = https://github.com/whoshuu/cpr
[submodule "externals/jsoncpp"]
	path = externals/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "externals/mongoose"]
	path = externals/mongoose
	url = https://github.com/opokatech/mongoose.git
