[submodule "externals/cxxopts"]
	path = externals/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "externals/pugixml"]
	path = externals/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "externals/cpr"]
	path = externals/cpr
	url = https://github.com/whoshuu/cpr
[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
[submodule "externals/mongoose"]
	path = externals/mongoose
	url = https://github.com/whoshuu/mongoose.git
[submodule "externals/jsoncpp"]
	path = externals/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
